<div class="jumbotron">
  
    <div class="card text-white bg-info " [(style)]="st">
      <div class="card-header"> {{date}} </div>
      <div class="card-body">
        <h5 class="card-title">Note Title </h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <button type="button"(click)="openB()" class="btn btn-success mr-5">Open</button>
        <button type="button" (click)="closeB()" class="btn btn-danger ml-5">close</button>
        
      </div>
    </div>
  
  </div>
  